	<div role="tabpanel" class="tab-pane" id="scatter_tab">
        <div id="scatter" class="row dynamic-content">


			<div class="col-xs-12 right-border">
				<p class="text-center" style="font-size:2em;width:1050px;">

				<strong><span class="scatter-chart-yaxis-title"></span></strong> /
				<strong><span class="scatter-chart-xaxis-title"></span></strong>
			</p>
				<div id="scatter-tooltip" class="">
				</div>
				<div id="scatter-main">

					<div id="scatter-chart-container"></div>
				</div>
			</div>
		</div>
    </div>