<div role="tabpanel" class="tab-pane" id="timeuse_tab">
		<div id="timeuse" class="row dynamic-content">

			<p class="text-center" style="font-size:2em">
				<span class="timeuse-maingroup">TIME USE</span>
			</p>
			<div id="timeuse-sidebar" class="col-xs-2 timeuse-sidebar">
				<div id="timeuse-text-area" class="timeuse-text-area">Time Use displays person out-of-home travel purpose by time of day. The vertical axis displays the sum or percent of
					activity and the horizontal axis displays the period of the day.</div>

				<div id="timeuse-legend" class="timeuse-legend"></div>
			</div>
			<div id="timeuse-main" class="col-xs-10 timeuse-main">
				<div id="timeuse-chart" class="timeuse-chart">
					<svg></svg>
				</div>
			</div>
		</div>
		<!-- end timeuse -->
</div>